<header id="header">
  {{ if (isset .Site.Params "gravatar") }}
    <div
      id="logo"
      style="background-image: url(https://www.gravatar.com/avatar/{{ md5 .Site.Params.gravatar }}?s=100&d=identicon)"></div>
  {{ else if (isset .Site.Params "logo") }}
    <img id="logo" src="{{ .Site.Params.logo | absURL }}" alt="" />
  {{ else }}
    <img id="logo" src='{{ "images/logo.png" | absURL }}' alt="" />
  {{ end }}
  <div id="title">
    <h1>{{ .Site.Title }}</h1>
  </div>
  <div id="nav">
    <ul>
      {{ range .Site.Menus.main }}
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
  </div>
</header>
